.header{
  font-family: Helvetica;
  text-align: center;
  color: white;
  background-image: url("../Images/building.png");
  background-position: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
p.menu{
  font-size: 18px;
}
a {
  color: white;
}

.process{
  font-family: Helvetica;
  color: black;
  text-align:center;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
h3.designed {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align:center;
  background-image: url("../Images/building.png");
  background-position: center;
}
.final{
  font-family: Helvetica;
  color: black;
  text-align: center;
}
p.footage{
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
